<!DOCTYPE html>
<html lang="en">
<head>
<title>CSS Template</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>

.fa {
  padding: 20px;
  font-size: 30px;
  width: 100px;
  text-align: center;
  text-decoration: none;
  margin: 3px 2px;
  border-radius: 100px 20px;
}

.fa:hover {
    opacity: 0.8;
}


* {
    box-sizing: border-box;
}
.fa-facebook {
  background: #3B5998;
  color: white;
}
.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}


/* Style the header */
header {
    background-color: #7FFF00;
    padding: 5px;
    text-align: center;
    font-size: 20px;
    color: black;
    background-clip: 4px;
    border: 2px solid red;
    padding: 10px;
    border-radius: 25px;
}

/* Create two columns/boxes that floats next to each other */

/* Style the footer */
footer {
    background-color: #0000CD;
    padding: -5px;
    text-align: center;
    color: white;
}

/* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */

}
</style>
</head>
<body >
<header>
  <h2>Welcome To My Company</h2>
  
  </header>


<span><%= button_to 'Companies Index', companies_path, :method => 'get' %></span><br><br>
<span><%= button_to 'Add New Company', new_company_path, :method => 'get' %></span><br><br>
<span><%= button_to 'Users Index', users_path, :method => 'get' %></span><br><br>
<button onclick="myFunction()">Add New User</button>
<script>
function myFunction() {
    alert("Do you want add a new user you Sign Out First!");
}
</script>

<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<h3><b><i><u>Follow Us</u></i></b></h3>
<a href="https://www.facebook.com/" target="_blank" class="fa fa-facebook"></a>
<a href="https://twitter.com/Twitter" target="_blank" class="fa fa-twitter"></a>
<a href="https://plus.google.com/discover?hl=en" target="_blank" class="fa fa-google"></a>
<a href="https://in.linkedin.com/" target="_blank" class="fa fa-linkedin"></a>
<a href="https://www.youtube.com" target="_blank" class="fa fa-youtube"></a>
<a href="https://www.instagram.com/" target="_blank" class="fa fa-instagram"></a>
<footer>
  <marquee>This Page Created By Aman Sharma</marquee>
</footer>

</body>
</html>
